/* Reset valores predeterminados */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul,
ol {
  list-style: none; }

p {
  margin: 0; }

/* Css para mobile */
/* Modificaciones generales */
.nav_bkg {
  z-index: 1; }

.footer_txt {
  font-size: 0.6rem;
  text-align: center; }

/* Modificaciones index */
.main_principal {
  min-height: 100vh;
  margin-top: 72px; }

/* Modificaciones reservas */
.main_reservas {
  width: 90%;
  min-height: 100vh;
  margin-top: 82px; }

.reservas_container_card {
  width: 100%; }

/* Css para tablet */
/* Css para Desktop */
@media (min-width: 992px) {
  /* Modificaciones generales */
  .footer_txt {
    font-size: 0.8rem;
    text-align: center; }
  /* Modificaciones index */
  .main_principal {
    margin-top: 82px; }
  /* Modificaciones reservas */
  .main_reservas {
    margin-top: 82px; }
  .reservas_container_card {
    width: 70%; } }
